<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8"></meta>
      <title> Ann's Music </title>
      <script src="/js/jquery-3.3.1.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/annPage.css">
      <script type="text/javascript" src="/js/annPage.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
      <meta http-equiv="Pragma" content="no-cache" />
      <meta http-equiv="Expires" content="0" />
  </head>
  <body background="/images/piano_background.jpg" class="background">
    <div class="arrange">
    <div class="A"> Ann's page </div>
    <div class="B">
    This is my pecies.
    Take a look. <span class="C">thank you</span> <br/>
    If you have any question, please contact me.
    </div>

    <div class="imgPlace">
      <img src="/images/piano_2.jpg" width="200px">
    </div>
    
    <div class="music">
    <audio controls>
      <source src="/music/music.mp3" type="audio/mpeg">
   </audio>
   </div>
    
    <h1>About my Songs</h1>
    <div class="box"> 
            I spend a long time figuring out these pieces.<br/> 
            The first song is a description about missing someone passed away.<br/>
            The second is something happy.<br/>
        </div>

        <div class="below_content">

          <div class="box_2">
            <div style="text-align:center; font-weight: bold"> My pecies </div> 
            <ul>
              <li><a href="https://www.youtube.com/watch?v=Ulp-UTka6tc">Snow</a></li>
              <li><a href="https://www.youtube.com/watch?v=y_5xHT8BrRY">Warm</a></li>
              <li><a href="https://www.youtube.com/watch?v=20SEmQ2sxdw">Ninelie</a></li>
            </ul>
          </div>

          <div class="box_2">
              <img src="/images/Piano.jpg" width="100px;">
          </div>

          <div class="box_2">
            <div style="text-align:center; font-weight: bold; line-height:15px"> Favorite pianist </div>
            <ul>
                    <li><a href="https://www.youtube.com/channel/UCyW-leqPXUunrXXxFjpZ7VA">Animenz</a></li>
                    <li><a href="https://www.youtube.com/user/TehIshter">Theishter</a></li>
                    <li><a href="https://www.youtube.com/user/kylelandry">kylendry</a></li>
            </ul>
          </div>
          <h1>
            Contact with me
          </h1>
              <h2> 
                If you are interested with my music. Please contact with me.
              </h2>
              <h2>
                Write down your request <input type="text" id="input"/> <button id="btn">Enter</button>
              </h2>
              <h2 id="hi">

              </h2>

        </div>
      </div>
  </body>
</html>