<!--reference:https://codepen.io/gabrielcarol/pen/rGeEbY--> 
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/css/game.css">
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/getCookie.js"></script>
<script src="/js/websocket.js"></script>
<script src="/js/game/key_events.js"></script>
</head>
<body>


<button type="button" id="closeSocket">Close socket</button>
<button type="button" id="linkStart">link Start</button> <!-- for now nothing-->
<header class="col-12 col-s-12" style="text-align:center;">
    <h1 tyle="text-align:center;">Use your keyboard. Hover for hints.</h1>
    <h2>Show Piano</h2>
    <h3 id="MusicRateArea" style="display: flex; margin-left:40%;"> 
        <p style="margin-top:3%;font-size:34px;"> Music Rate:</p> 
        <input id="MusicRate" style="width:15%;margin-left:3%;margin-top:2.5%; padding:5 5px;height:50px;" class="w3-input" type="text" placeholder="60 ~ 190"> 
        <button id="MusicRateBtn" class="button button5">Enter</button> 
    </h3>
</header>
    
<div class="col-12 col-s-12 nowplaying"></div>

<section id="main" class="col-12 col-s-12">
    <div class="keys">
        <div data-key="65" class="key" data-note="C" onmousedown="myFunction(event,0);SetMeasure();" onmouseup="playNote2(event,0)">
            <span class="hints">A</span>
        </div>
        <div data-key="87" class="key sharp" data-note="C#" onmousedown="myFunction(event,1);SetMeasure();" onmouseup="playNote2(event,1)">
            <span class="hints">W</span>
        </div>
        <div data-key="83" class="key" data-note="D" onmousedown="myFunction(event,2);SetMeasure();" onmouseup="playNote2(event,2)">
            <span class="hints">S</span>
        </div>
        <div data-key="69" class="key sharp" data-note="D#" onmousedown="myFunction(event,3);SetMeasure();" onmouseup="playNote2(event,3)">
            <span class="hints">E</span>
        </div>
        <div data-key="68" class="key" data-note="E" onmousedown="myFunction(event,4);SetMeasure();" onmouseup="playNote2(event,4)">
            <span class="hints">D</span>
        </div>
        <div data-key="70" class="key" data-note="F" onmousedown="myFunction(event,5);SetMeasure();" onmouseup="playNote2(event,5)">
            <span class="hints">F</span>
        </div>
        <div data-key="84" class="key sharp" data-note="F#" onmousedown="myFunction(event,6);SetMeasure();" onmouseup="playNote2(event,6)">
            <span class="hints">T</span>
        </div>
        <div data-key="71" class="key" data-note="G" onmousedown="myFunction(event,7);SetMeasure();" onmouseup="playNote2(event,7)">
            <span class="hints">G</span>
        </div>
        <div data-key="89" class="key sharp" data-note="G#" onmousedown="myFunction(event,8);SetMeasure();" onmouseup="playNote2(event,8)">
            <span class="hints">Y</span>
        </div>
        <div data-key="72" class="key" data-note="A" onmousedown="myFunction(event,9);SetMeasure();" onmouseup="playNote2(event,9)">
            <span class="hints">H</span>
        </div>
        <div data-key="85" class="key sharp" data-note="A#" onmousedown="myFunction(event,10);SetMeasure();" onmouseup="playNote2(event,10)">
            <span class="hints">U</span>
        </div>
        <div data-key="74" class="key" data-note="B" onmousedown="myFunction(event,11);SetMeasure();" onmouseup="playNote2(event,11)">
            <span class="hints">J</span>
        </div>
        <div data-key="75" class="key" data-note="C" onmousedown="myFunction(event,12);SetMeasure();" onmouseup="playNote2(event,12)">
            <span class="hints">K</span>
        </div>
        <div data-key="79" class="key sharp" data-note="C#" onmousedown="myFunction(event,13);SetMeasure();" onmouseup="playNote2(event,13)">
            <span class="hints">O</span>
        </div>
        <div data-key="76" class="key" data-note="D" onmousedown="myFunction(event,14);SetMeasure();" onmouseup="playNote2(event,14)">
            <span class="hints">L</span>
        </div>
        <div data-key="80" class="key sharp" data-note="D#" onmousedown="myFunction(event,15);SetMeasure();" onmouseup="playNote2(event,15)">
            <span class="hints">P</span>
        </div>
        <div data-key="186" class="key" data-note="E" onmousedown="myFunction(event,16);SetMeasure();" onmouseup="playNote2(event,16)">
            <span class="hints">;</span>
        </div>
    </div>
            

        <!--Keyboard sounds-->
        <audio data-key="65" src="https://carolinegabriel.com/demo/js-keyboard/sounds/040.wav"></audio>
        <audio data-key="87" src="https://carolinegabriel.com/demo/js-keyboard/sounds/041.wav"></audio>
        <audio data-key="83" src="https://carolinegabriel.com/demo/js-keyboard/sounds/042.wav"></audio>
        <audio data-key="69" src="https://carolinegabriel.com/demo/js-keyboard/sounds/043.wav"></audio>
        <audio data-key="68" src="https://carolinegabriel.com/demo/js-keyboard/sounds/044.wav"></audio>
        <audio data-key="70" src="https://carolinegabriel.com/demo/js-keyboard/sounds/045.wav"></audio>
        <audio data-key="84" src="https://carolinegabriel.com/demo/js-keyboard/sounds/046.wav"></audio>
        <audio data-key="71" src="https://carolinegabriel.com/demo/js-keyboard/sounds/047.wav"></audio>
        <audio data-key="89" src="https://carolinegabriel.com/demo/js-keyboard/sounds/048.wav"></audio>
        <audio data-key="72" src="https://carolinegabriel.com/demo/js-keyboard/sounds/049.wav"></audio>
        <audio data-key="85" src="https://carolinegabriel.com/demo/js-keyboard/sounds/050.wav"></audio>
        <audio data-key="74" src="https://carolinegabriel.com/demo/js-keyboard/sounds/051.wav"></audio>
        <audio data-key="75" src="https://carolinegabriel.com/demo/js-keyboard/sounds/052.wav"></audio>
        <audio data-key="79" src="https://carolinegabriel.com/demo/js-keyboard/sounds/053.wav"></audio>
        <audio data-key="76" src="https://carolinegabriel.com/demo/js-keyboard/sounds/054.wav"></audio>
        <audio data-key="80" src="https://carolinegabriel.com/demo/js-keyboard/sounds/055.wav"></audio>
        <audio data-key="186" src="https://carolinegabriel.com/demo/js-keyboard/sounds/056.wav"></audio>
</section>

<div id="sheetnumber"></div>
<div class="col-12 col-s-12" style="display:flex;">
    <div id="sheet0" class="sheet"></div>
    <div id="sheet1" class="sheet">
    </div>
    <div id="sheet2" class="sheet">
    </div>
    <div id="sheet3" class="sheet">
    </div>
    <div id="sheet4" class="sheet">
    </div>
    <div id="sheet5" class="sheet">
    </div>
</div>
<div id="showtime"></div>
<div id="KeyCode">65</div>


<script>

//Play piano by Mouse
const keys = document.querySelectorAll(".key"),
      note = document.querySelector(".nowplaying"),
      hints = document.querySelectorAll(".hints");

var SetMeasure = (function() {
    var executed = false;
    return function() {
        if (!executed) {
            executed = true;
            
            var rate = document.getElementById('MusicRate').value;
            var Measure = ((60/rate)*4*1000);
            var myVar = setInterval(myTimer, Measure);
            var sheetnumber = -1;
            myTimer();
            function myTimer(){
                sheetnumber++
                document.getElementById('sheetnumber').textContent = sheetnumber;
            };
        };
    };
})();

function myFunction(event,keynumber){
    var n1 = event.timeStamp;
    document.getElementById('showtime').innerHTML = n1;
    const audio = document.getElementsByTagName(`audio`),
          key = document.getElementsByClassName(`key`);
    if (!key) {
        return;
    }
    const keyNote = key[`${keynumber}`].getAttribute("data-note");
    
    key[`${keynumber}`].classList.add("playing");
    note.innerHTML = keyNote;
    audio[`${keynumber}`].currentTime = 0;
    audio[`${keynumber}`].play();
};

function playNote2(event,keynumber) {

    var n2 = event.timeStamp;
    var n1 = document.getElementById('showtime').innerHTML;
    var timelapse =((n2-n1)/1000);
    var rate = document.getElementById('MusicRate').value;
    var sheetnumber = document.getElementById('sheetnumber').textContent;


    //Rate
    var beat2 = (60/rate)*2;
    var beat4 = (60/rate);
    var beat8 = (60/rate/2);
    var beat15 = (60/rate/4);

    if(timelapse > beat2){
        document.getElementById(`sheet${sheetnumber}`).innerHTML += `<img src ='https://img.icons8.com/windows/32/000000/musical.png' style='width:50px; height:30px;position:relative;margin-left:3%;top:${(52-keynumber)}%;'>`
    }else if(timelapse > beat4 && timelapse < beat2){
        document.getElementById(`sheet${sheetnumber}`).innerHTML += `<img src ='https://img.icons8.com/ultraviolet/32/000000/musical.png' style='width:50px;height:30px;position:relative;margin-left:3%;top:${(52-keynumber)}%;'>`
    }else if(timelapse < beat4 && timelapse > beat8){
        document.getElementById(`sheet${sheetnumber}`).innerHTML += `<img src ='https://img.icons8.com/ios/32/000000/musical-filled.png' style='width:50px;height:30px;position:relative;margin-left:3%;top:${(52-keynumber)}%;'>`
    }else if(timelapse < beat8){
        document.getElementById(`sheet${sheetnumber}`).innerHTML += `<img src ='https://img.icons8.com/material-sharp/32/000000/musical-notes.png' style='width:50px;height:30px;position:relative;margin-left:3%;top:${(52-keynumber)}%;'>`
    };
};


//Play piano by keyboard

window.addEventListener('keyup',Keyup);


var SetMeasure2 = function() {
    var executed = false;
    return function() {
        if (!executed) {
            executed = true;
            
            var rate = document.getElementById('MusicRate').value;
            var Measure = ((60/rate)*4*1000);
            var myVar = setInterval(myTimer, Measure);
            var sheetnumber = -1;
            myTimer();
            function myTimer(){
                sheetnumber++
                document.getElementById('sheetnumber').textContent = sheetnumber;
                console.log(sheetnumber)
            };
        };
    };
};

function removeTransition(e) {
  if (e.propertyName !== "transform") return;
  this.classList.remove("playing");
};

function hintsOn(e, index) {
  e.setAttribute("style", "transition-delay:" + index * 50 + "ms");
};

hints.forEach(hintsOn);

keys.forEach(key => key.addEventListener("transitionend", removeTransition));



// A buggy to lead the socket link string is not integrety 
$('#MusicRateBtn').click(function(){
        // $(this).fadeOut(500);??
        // $('#MusicRate').fadeOut(500);
        $('#MusicRateArea').append(`<p id='NowRate' style='margin-left: 5%; display:none; font-size: 30px;'>${$('#MusicRate').val()}</p>`);
        // $('#NowRate').fadeIn(500);
});

$(document).ready(function(){
    $('h2').click(function(){  
        $('.keys').fadeToggle(300);
    });

    let token = getCookie("token");
    if(token == undefined) {
        window.location = "/login";
    }
    //TODO: check if the token valid
    // Start websocket
    if(!support_websocket()) {
        alert("Play game if you are auth. user");
        return;
    }
    try {
        let wSocketServer = "wss://"+location.host+"/game/socket";
        let socketFact = new GameWebSocketFactory(wSocketServer);
        let gameSocket = socketFact.create();
        // 當務之急應該解決ID拿不到的問題，若不行，就開個全域變數好了...
        // simply send key code
        window.addEventListener('keydown', function(event) {
            if(event.keyCode == 65 || event.keyCode == 87 || event.keyCode == 83 || event.keyCode == 69 || event.keyCode == 68 || event.keyCode == 70 || event.keyCode == 84 || event.keyCode == 71 || event.keyCode == 89 || event.keyCode == 72 || event.keyCode == 85 || event.keyCode == 74 || event.keyCode == 75 || event.keyCode == 79 || event.keyCode == 76|| event.keyCode == 80 || event.keyCode == 186){
                gameSocket.send(JSON.stringify({
                    //MyId: parseInt($("#numberfield").val()),
                    To: "all",
                    From: 123,
                    Key: event.keyCode,
                    Action: 0,
                }));
                playNote(event);
            }
        });
        $('#closeSocket').click(function (e) {
          e.preventDefault();
          // gameSocket.send(JSON.stringify({
          //   To: "leave",
          //   From: 123,
          //   Key: event.keyCode,
          // }));
          gameSocket.close();
        });
    } catch(e) {
        alert(e.message); // TODO: Show it on status area
    }
    
});
</script>
</body>
</html>