<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/login.css">
<script src="/js/login.js"></script>
</head>

<body>
<!--Header-->
<div class="wrap">
    <div class="title1">Ann's page</div>
    <div class="title2"><input class="w3-input w3-border w3-round-large" id="input2" type="text" placeholder="Search.."></div>
    <div class="title3"><i id="submit" class="material-icons" style="font-size:30px;">search</i></div>
    
    <!--Dropdownlist-->
    <div class="Dropdownarea">
        <div class="dropdown">
            <div class="dropbtn">Design</div>
            <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropbtn">Conception</div>
            <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropbtn">Pecies</div>
            <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            </div>
        </div>
    </div>
        
    <div id="Loginarea">
        <a  href="{{ .loginPage }}" target="_blank"><i class="material-icons" style="font-size:30px;">person</i></a>
    </div>
    <div id="Signuparea">
        <a  href="{{ .signupPage }}" target="_blank">Sign up</a>
    </div>
</div>
<div class="bg-image"></div>
<div class="bg-text">
    <h2>LogIn Page</h2>
    <h1 style="font-size:50px">Log In here</h1>
    <p>To get your services</p>
</div>

<article>
    <div class="art">
        <p class="title">Login to Ann's Page</p>
        <div class="artcenter">
            <i class="material-icons" style="margin-right:20px;font-size:35px;">account_circle</i>
            <input type="text" id="account" style="padding:10px; width:200px;" placeholder="Email or Name..."/>
            <span style="color: red;" id="warn"></span><br/>
        </div>

        <div class="artcenter">
            <i class="material-icons" style="margin-right:20px;font-size:35px;">settings_ethernet</i>
            <input type="password" id="password" style="padding:10px; width:200px;" placeholder='Password...'/>
            <span style="color:red;" id="warn2"></span><br/>
        </div>

        <div class="artcenter "id="answer" style="color:red"></div>
        
        <p style="font-size:24px;position: relative; bottom:16%;">Don't have an account ?</p>
        
        <div style="font-size:24px;position: relative; bottom:15%;">
            <a style="text-decoration: none;" href="{{ .signupPage }}">Sign up</a>
        </div>
        <div class="log" id="login">Sign in</div>
    </div>

</article>

</body>

</html>