<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div>
        <p>Apply for an account</p>
        <div class="user account">
            <p>Account</p>
            <input id="account0" type="text" placeholder="write your account...">
        </div>
        <div class="user password">
            <p>Password</p>
            <input id="password0" type="password" placeholder="write your password...">
        </div>
        <div class="user btn">
            <butto id="btn">Enter</button>
        </div>
        <p id="show"></p>
    </div>
    <script>
        var Button = document.getElementById("btn");
        Button.addEventListener("click",ApplyAccount);

        function ApplyAccount(){
            var Account = document.getElementById("account0");
            var Password = document.getElementById("password0");
            var Information = {
                "Accountinobj":Account.value,
                "Passwordinobj":Password.value
            };
            console.log(Information);
            let JSONInformation = JSON.stringify(Information);
            console.log(JSONInformation);
            var sendData = new XMLHttpRequest();
            sendData.onreadystatechange = function(){
                if (this.readyState == 4 && this.status == 200){
                    console.log("HI");
                    var Response = JSON.parse(this.responseText);
                    console.log(Response)
                }
            };

            let postUrl = "http://192.168.100.103:8888/api/v2/board/create_geo_post/";
            let getUrl = "http://192.168.100.103:8888/api/v2/board/hotimages/oversea/?page=1";
            sendData.open("post", postUrl, false);
            sendData.send(JSONInformation);
            
            Account.value = "";
            Password.value = "";
        };
    </script>
</body>
</html>

